-- MySQL dump 10.13  Distrib 8.0.46, for Linux (x86_64)
--
-- Host: localhost    Database: erp_fibrasan
-- ------------------------------------------------------
-- Server version	8.0.46

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `areas`
--

DROP TABLE IF EXISTS `areas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `areas` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `nombre` varchar(150) COLLATE utf8mb4_unicode_ci NOT NULL,
  `descripcion` text COLLATE utf8mb4_unicode_ci,
  `activo` tinyint(1) NOT NULL DEFAULT '1',
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `areas_nombre_unique` (`nombre`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `areas`
--

LOCK TABLES `areas` WRITE;
/*!40000 ALTER TABLE `areas` DISABLE KEYS */;
/*!40000 ALTER TABLE `areas` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cache`
--

DROP TABLE IF EXISTS `cache`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `cache` (
  `key` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `value` mediumtext COLLATE utf8mb4_unicode_ci NOT NULL,
  `expiration` int NOT NULL,
  PRIMARY KEY (`key`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cache`
--

LOCK TABLES `cache` WRITE;
/*!40000 ALTER TABLE `cache` DISABLE KEYS */;
/*!40000 ALTER TABLE `cache` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cache_locks`
--

DROP TABLE IF EXISTS `cache_locks`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `cache_locks` (
  `key` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `owner` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `expiration` int NOT NULL,
  PRIMARY KEY (`key`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cache_locks`
--

LOCK TABLES `cache_locks` WRITE;
/*!40000 ALTER TABLE `cache_locks` DISABLE KEYS */;
/*!40000 ALTER TABLE `cache_locks` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `checador_access_qr_codes`
--

DROP TABLE IF EXISTS `checador_access_qr_codes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `checador_access_qr_codes` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `user_firebird_identity_id` bigint unsigned NOT NULL,
  `firebird_empresa` char(2) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `token` varchar(64) COLLATE utf8mb4_unicode_ci NOT NULL,
  `payload` text COLLATE utf8mb4_unicode_ci,
  `activo` tinyint(1) NOT NULL DEFAULT '1',
  `ultima_lectura` timestamp NULL DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `checador_access_qr_codes_user_firebird_identity_id_unique` (`user_firebird_identity_id`),
  UNIQUE KEY `checador_access_qr_codes_token_unique` (`token`),
  KEY `checador_access_qr_codes_token_activo_index` (`token`,`activo`),
  CONSTRAINT `checador_access_qr_codes_user_firebird_identity_id_foreign` FOREIGN KEY (`user_firebird_identity_id`) REFERENCES `users_firebird_identities` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `checador_access_qr_codes`
--

LOCK TABLES `checador_access_qr_codes` WRITE;
/*!40000 ALTER TABLE `checador_access_qr_codes` DISABLE KEYS */;
/*!40000 ALTER TABLE `checador_access_qr_codes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `checador_catalogo_movimientos`
--

DROP TABLE IF EXISTS `checador_catalogo_movimientos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `checador_catalogo_movimientos` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `nombre` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `clave` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `codigo_legado` char(1) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `cuenta_como_salida` tinyint(1) NOT NULL DEFAULT '0',
  `cuenta_como_entrada` tinyint(1) NOT NULL DEFAULT '0',
  `orden` int NOT NULL DEFAULT '0',
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `checador_catalogo_movimientos_clave_unique` (`clave`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `checador_catalogo_movimientos`
--

LOCK TABLES `checador_catalogo_movimientos` WRITE;
/*!40000 ALTER TABLE `checador_catalogo_movimientos` DISABLE KEYS */;
/*!40000 ALTER TABLE `checador_catalogo_movimientos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `checador_catalogo_permisos`
--

DROP TABLE IF EXISTS `checador_catalogo_permisos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `checador_catalogo_permisos` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `nombre` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `clave` varchar(30) COLLATE utf8mb4_unicode_ci NOT NULL,
  `codigo_legado` varchar(10) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `descripcion` text COLLATE utf8mb4_unicode_ci,
  `duracion_default_minutos` int DEFAULT NULL,
  `tipo_unidad` enum('dias','horas') COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'horas',
  `suma_a_horas_trabajadas` tinyint(1) NOT NULL DEFAULT '0',
  `requiere_aprobacion` tinyint(1) NOT NULL DEFAULT '1',
  `requiere_regreso_mismo_dia` tinyint(1) NOT NULL DEFAULT '1',
  `activo` tinyint(1) NOT NULL DEFAULT '1',
  `orden` int NOT NULL DEFAULT '0',
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `checador_catalogo_permisos_clave_unique` (`clave`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `checador_catalogo_permisos`
--

LOCK TABLES `checador_catalogo_permisos` WRITE;
/*!40000 ALTER TABLE `checador_catalogo_permisos` DISABLE KEYS */;
/*!40000 ALTER TABLE `checador_catalogo_permisos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `checador_entradas`
--

DROP TABLE IF EXISTS `checador_entradas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `checador_entradas` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `checador_registro_id` bigint unsigned DEFAULT NULL,
  `user_firebird_identity_id` bigint unsigned NOT NULL,
  `firebird_empresa` char(2) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `turno_id` bigint unsigned DEFAULT NULL,
  `dia_id` bigint unsigned DEFAULT NULL,
  `fecha` date NOT NULL,
  `hora_entrada` time NOT NULL,
  `hora_programada` time DEFAULT NULL,
  `minutos_retardo` int NOT NULL DEFAULT '0',
  `es_retardo` tinyint(1) NOT NULL DEFAULT '0',
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `checador_entradas_checador_registro_id_foreign` (`checador_registro_id`),
  KEY `checador_entradas_turno_id_foreign` (`turno_id`),
  KEY `checador_entradas_dia_id_foreign` (`dia_id`),
  KEY `checador_entradas_user_firebird_identity_id_fecha_index` (`user_firebird_identity_id`,`fecha`),
  CONSTRAINT `checador_entradas_checador_registro_id_foreign` FOREIGN KEY (`checador_registro_id`) REFERENCES `checador_registros` (`id`) ON DELETE SET NULL,
  CONSTRAINT `checador_entradas_dia_id_foreign` FOREIGN KEY (`dia_id`) REFERENCES `dias` (`id`) ON DELETE SET NULL,
  CONSTRAINT `checador_entradas_turno_id_foreign` FOREIGN KEY (`turno_id`) REFERENCES `turnos` (`id`) ON DELETE SET NULL,
  CONSTRAINT `checador_entradas_user_firebird_identity_id_foreign` FOREIGN KEY (`user_firebird_identity_id`) REFERENCES `users_firebird_identities` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `checador_entradas`
--

LOCK TABLES `checador_entradas` WRITE;
/*!40000 ALTER TABLE `checador_entradas` DISABLE KEYS */;
/*!40000 ALTER TABLE `checador_entradas` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `checador_permiso_pagos`
--

DROP TABLE IF EXISTS `checador_permiso_pagos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `checador_permiso_pagos` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `checador_permiso_id` bigint unsigned NOT NULL,
  `checador_registro_id` bigint unsigned DEFAULT NULL,
  `user_firebird_identity_id` bigint unsigned NOT NULL,
  `origen` enum('entrada_anticipada','salida_tardia') COLLATE utf8mb4_unicode_ci NOT NULL COMMENT 'de d├│nde salieron los minutos abonados',
  `minutos_abonados` int NOT NULL,
  `fecha` date NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `checador_permiso_pagos_checador_registro_id_foreign` (`checador_registro_id`),
  KEY `checador_permiso_pagos_checador_permiso_id_index` (`checador_permiso_id`),
  KEY `checador_permiso_pagos_user_firebird_identity_id_fecha_index` (`user_firebird_identity_id`,`fecha`),
  CONSTRAINT `checador_permiso_pagos_checador_permiso_id_foreign` FOREIGN KEY (`checador_permiso_id`) REFERENCES `checador_permisos` (`id`) ON DELETE CASCADE,
  CONSTRAINT `checador_permiso_pagos_checador_registro_id_foreign` FOREIGN KEY (`checador_registro_id`) REFERENCES `checador_registros` (`id`) ON DELETE SET NULL,
  CONSTRAINT `checador_permiso_pagos_user_firebird_identity_id_foreign` FOREIGN KEY (`user_firebird_identity_id`) REFERENCES `users_firebird_identities` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `checador_permiso_pagos`
--

LOCK TABLES `checador_permiso_pagos` WRITE;
/*!40000 ALTER TABLE `checador_permiso_pagos` DISABLE KEYS */;
/*!40000 ALTER TABLE `checador_permiso_pagos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `checador_permisos`
--

DROP TABLE IF EXISTS `checador_permisos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `checador_permisos` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `user_firebird_identity_id` bigint unsigned DEFAULT NULL,
  `checador_catalogo_permiso_id` bigint unsigned DEFAULT NULL,
  `firebird_empresa` char(2) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `tipo` enum('normal','extraordinario') COLLATE utf8mb4_unicode_ci DEFAULT 'normal',
  `fecha_inicio` date DEFAULT NULL,
  `fecha_fin` date DEFAULT NULL,
  `hora_inicio` time DEFAULT NULL,
  `hora_fin` time DEFAULT NULL,
  `no_regresa` tinyint(1) DEFAULT '0',
  `todo_el_dia` tinyint(1) DEFAULT '0',
  `tipo_pago_tiempo` enum('tiempo_por_tiempo','dia_descanso','sin_goce') COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `minutos_ausencia` int DEFAULT NULL,
  `minutos_pagados` int DEFAULT '0',
  `fecha_reposicion` date DEFAULT NULL,
  `hora_inicio_reposicion` time DEFAULT NULL,
  `hora_fin_reposicion` time DEFAULT NULL,
  `justificacion_pago_tiempo` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `motivo` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `permiso_origen_id` bigint unsigned DEFAULT NULL,
  `tiempo_pagado` tinyint(1) NOT NULL DEFAULT '0',
  `fecha_tiempo_pagado` timestamp NULL DEFAULT NULL,
  `pagado_en_registro_id` bigint unsigned DEFAULT NULL,
  `estado` enum('pendiente','aprobado','rechazado','solicitado') COLLATE utf8mb4_unicode_ci DEFAULT 'solicitado',
  `estado_rh` enum('pendiente','aprobado','rechazado','no_aplica') COLLATE utf8mb4_unicode_ci DEFAULT 'pendiente',
  `aprobado_por_rh` bigint unsigned DEFAULT NULL,
  `fecha_resolucion_rh` datetime DEFAULT NULL,
  `comentarios_rh` text COLLATE utf8mb4_unicode_ci,
  `estado_jefe` enum('pendiente','aprobado','rechazado','no_aplica') COLLATE utf8mb4_unicode_ci DEFAULT 'pendiente',
  `aprobado_por_jefe` bigint unsigned DEFAULT NULL,
  `fecha_resolucion_jefe` datetime DEFAULT NULL,
  `comentarios_jefe` text COLLATE utf8mb4_unicode_ci,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `checador_permisos_checador_catalogo_permiso_id_foreign` (`checador_catalogo_permiso_id`),
  KEY `checador_permisos_permiso_origen_id_foreign` (`permiso_origen_id`),
  KEY `checador_permisos_aprobado_por_rh_foreign` (`aprobado_por_rh`),
  KEY `checador_permisos_aprobado_por_jefe_foreign` (`aprobado_por_jefe`),
  KEY `idx_perm_usr_fecha` (`user_firebird_identity_id`,`fecha_inicio`,`fecha_fin`),
  CONSTRAINT `checador_permisos_aprobado_por_jefe_foreign` FOREIGN KEY (`aprobado_por_jefe`) REFERENCES `users_firebird_identities` (`id`) ON DELETE SET NULL,
  CONSTRAINT `checador_permisos_aprobado_por_rh_foreign` FOREIGN KEY (`aprobado_por_rh`) REFERENCES `users_firebird_identities` (`id`) ON DELETE SET NULL,
  CONSTRAINT `checador_permisos_checador_catalogo_permiso_id_foreign` FOREIGN KEY (`checador_catalogo_permiso_id`) REFERENCES `checador_catalogo_permisos` (`id`) ON DELETE SET NULL,
  CONSTRAINT `checador_permisos_permiso_origen_id_foreign` FOREIGN KEY (`permiso_origen_id`) REFERENCES `checador_permisos` (`id`) ON DELETE SET NULL,
  CONSTRAINT `checador_permisos_user_firebird_identity_id_foreign` FOREIGN KEY (`user_firebird_identity_id`) REFERENCES `users_firebird_identities` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `checador_permisos`
--

LOCK TABLES `checador_permisos` WRITE;
/*!40000 ALTER TABLE `checador_permisos` DISABLE KEYS */;
/*!40000 ALTER TABLE `checador_permisos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `checador_permisos_extraordinarios`
--

DROP TABLE IF EXISTS `checador_permisos_extraordinarios`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `checador_permisos_extraordinarios` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `user_firebird_identity_id` bigint unsigned NOT NULL,
  `puede_salir_cualquier_momento` tinyint(1) NOT NULL DEFAULT '0',
  `salir_cualquier_momento_necesita_permiso` tinyint(1) NOT NULL DEFAULT '0',
  `puede_salir_comer` tinyint(1) NOT NULL DEFAULT '0',
  `salir_comer_necesita_permiso` tinyint(1) NOT NULL DEFAULT '0',
  `puede_entrar_tarde` tinyint(1) NOT NULL DEFAULT '0',
  `tolerancia_ilimitada` tinyint(1) NOT NULL DEFAULT '0',
  `tolerancia_minutos` int unsigned DEFAULT NULL,
  `hora_limite` time DEFAULT NULL,
  `permiso_extraordinario_otro` text COLLATE utf8mb4_unicode_ci,
  `activo` tinyint(1) NOT NULL DEFAULT '1',
  `salir_antes` tinyint(1) NOT NULL DEFAULT '0',
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_permisos_extra_user` (`user_firebird_identity_id`),
  CONSTRAINT `fk_permisos_extra_user` FOREIGN KEY (`user_firebird_identity_id`) REFERENCES `users_firebird_identities` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `checador_permisos_extraordinarios`
--

LOCK TABLES `checador_permisos_extraordinarios` WRITE;
/*!40000 ALTER TABLE `checador_permisos_extraordinarios` DISABLE KEYS */;
/*!40000 ALTER TABLE `checador_permisos_extraordinarios` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `checador_registros`
--

DROP TABLE IF EXISTS `checador_registros`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `checador_registros` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `user_firebird_identity_id` bigint unsigned NOT NULL,
  `firebird_empresa` char(2) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `turno_id` bigint unsigned DEFAULT NULL,
  `checador_permiso_id` bigint unsigned DEFAULT NULL,
  `dia_id` bigint unsigned DEFAULT NULL,
  `tipo` enum('entrada','salida','Inicio de permiso','Fin de permiso') COLLATE utf8mb4_unicode_ci NOT NULL,
  `fecha` date NOT NULL,
  `hora` time NOT NULL,
  `fecha_hora` datetime NOT NULL,
  `metodo` enum('qr','manual') COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'qr',
  `ip_address` varchar(45) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `dispositivo` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `latitud` decimal(10,7) DEFAULT NULL,
  `longitud` decimal(10,7) DEFAULT NULL,
  `valido` tinyint(1) NOT NULL DEFAULT '1',
  `observaciones` text COLLATE utf8mb4_unicode_ci,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `checador_registros_turno_id_foreign` (`turno_id`),
  KEY `checador_registros_checador_permiso_id_foreign` (`checador_permiso_id`),
  KEY `checador_registros_dia_id_foreign` (`dia_id`),
  KEY `checador_registros_user_firebird_identity_id_fecha_index` (`user_firebird_identity_id`,`fecha`),
  KEY `checador_registros_firebird_empresa_fecha_index` (`firebird_empresa`,`fecha`),
  CONSTRAINT `checador_registros_checador_permiso_id_foreign` FOREIGN KEY (`checador_permiso_id`) REFERENCES `checador_permisos` (`id`) ON DELETE SET NULL,
  CONSTRAINT `checador_registros_dia_id_foreign` FOREIGN KEY (`dia_id`) REFERENCES `dias` (`id`) ON DELETE SET NULL,
  CONSTRAINT `checador_registros_turno_id_foreign` FOREIGN KEY (`turno_id`) REFERENCES `turnos` (`id`) ON DELETE SET NULL,
  CONSTRAINT `checador_registros_user_firebird_identity_id_foreign` FOREIGN KEY (`user_firebird_identity_id`) REFERENCES `users_firebird_identities` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `checador_registros`
--

LOCK TABLES `checador_registros` WRITE;
/*!40000 ALTER TABLE `checador_registros` DISABLE KEYS */;
/*!40000 ALTER TABLE `checador_registros` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `checador_salidas`
--

DROP TABLE IF EXISTS `checador_salidas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `checador_salidas` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `checador_registro_id` bigint unsigned DEFAULT NULL,
  `checador_entrada_id` bigint unsigned DEFAULT NULL,
  `user_firebird_identity_id` bigint unsigned NOT NULL,
  `firebird_empresa` char(2) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `turno_id` bigint unsigned DEFAULT NULL,
  `dia_id` bigint unsigned DEFAULT NULL,
  `fecha` date NOT NULL,
  `hora_salida` time NOT NULL,
  `hora_programada` time DEFAULT NULL,
  `minutos_anticipacion` int NOT NULL DEFAULT '0',
  `horas_extra` decimal(5,2) NOT NULL DEFAULT '0.00',
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `checador_salidas_checador_registro_id_foreign` (`checador_registro_id`),
  KEY `checador_salidas_checador_entrada_id_foreign` (`checador_entrada_id`),
  KEY `checador_salidas_turno_id_foreign` (`turno_id`),
  KEY `checador_salidas_dia_id_foreign` (`dia_id`),
  KEY `checador_salidas_user_firebird_identity_id_fecha_index` (`user_firebird_identity_id`,`fecha`),
  CONSTRAINT `checador_salidas_checador_entrada_id_foreign` FOREIGN KEY (`checador_entrada_id`) REFERENCES `checador_entradas` (`id`) ON DELETE SET NULL,
  CONSTRAINT `checador_salidas_checador_registro_id_foreign` FOREIGN KEY (`checador_registro_id`) REFERENCES `checador_registros` (`id`) ON DELETE SET NULL,
  CONSTRAINT `checador_salidas_dia_id_foreign` FOREIGN KEY (`dia_id`) REFERENCES `dias` (`id`) ON DELETE SET NULL,
  CONSTRAINT `checador_salidas_turno_id_foreign` FOREIGN KEY (`turno_id`) REFERENCES `turnos` (`id`) ON DELETE SET NULL,
  CONSTRAINT `checador_salidas_user_firebird_identity_id_foreign` FOREIGN KEY (`user_firebird_identity_id`) REFERENCES `users_firebird_identities` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `checador_salidas`
--

LOCK TABLES `checador_salidas` WRITE;
/*!40000 ALTER TABLE `checador_salidas` DISABLE KEYS */;
/*!40000 ALTER TABLE `checador_salidas` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `citas`
--

DROP TABLE IF EXISTS `citas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `citas` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `id_user` bigint unsigned DEFAULT NULL,
  `id_visitante` bigint unsigned DEFAULT NULL,
  `cita_type_id` bigint unsigned DEFAULT NULL,
  `nombre_visitante` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `fecha` date DEFAULT NULL,
  `hora_inicio` time DEFAULT NULL,
  `hora_fin` time DEFAULT NULL,
  `motivo` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `estado` enum('pendiente','confirmada','cancelada') COLLATE utf8mb4_unicode_ci DEFAULT 'pendiente',
  `asistencia` enum('rechazada','confirmada') COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `notas` text COLLATE utf8mb4_unicode_ci,
  `con_vehiculo` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT 'no',
  `sala` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `recordatorio_30min` tinyint(1) NOT NULL DEFAULT '0',
  `recordatorio_60min` tinyint(1) NOT NULL DEFAULT '0',
  `recordatorio_pendiente` tinyint(1) NOT NULL DEFAULT '0',
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `citas_cita_type_id_foreign` (`cita_type_id`),
  KEY `citas_id_user_foreign` (`id_user`),
  KEY `citas_id_visitante_foreign` (`id_visitante`),
  CONSTRAINT `citas_cita_type_id_foreign` FOREIGN KEY (`cita_type_id`) REFERENCES `citas_types` (`id`) ON DELETE SET NULL,
  CONSTRAINT `citas_id_user_foreign` FOREIGN KEY (`id_user`) REFERENCES `users_firebird_identities` (`id`) ON DELETE CASCADE,
  CONSTRAINT `citas_id_visitante_foreign` FOREIGN KEY (`id_visitante`) REFERENCES `users_firebird_identities` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `citas`
--

LOCK TABLES `citas` WRITE;
/*!40000 ALTER TABLE `citas` DISABLE KEYS */;
/*!40000 ALTER TABLE `citas` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `citas_types`
--

DROP TABLE IF EXISTS `citas_types`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `citas_types` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `nombre` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `slug` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `descripcion` text COLLATE utf8mb4_unicode_ci,
  `color` varchar(20) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `icono` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `activo` tinyint(1) NOT NULL DEFAULT '1',
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `citas_types_slug_unique` (`slug`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `citas_types`
--

LOCK TABLES `citas_types` WRITE;
/*!40000 ALTER TABLE `citas_types` DISABLE KEYS */;
/*!40000 ALTER TABLE `citas_types` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `dias`
--

DROP TABLE IF EXISTS `dias`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `dias` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `nombre` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `orden` tinyint unsigned NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `dias_orden_unique` (`orden`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `dias`
--

LOCK TABLES `dias` WRITE;
/*!40000 ALTER TABLE `dias` DISABLE KEYS */;
/*!40000 ALTER TABLE `dias` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `failed_jobs`
--

DROP TABLE IF EXISTS `failed_jobs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `failed_jobs` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `uuid` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `connection` text COLLATE utf8mb4_unicode_ci NOT NULL,
  `queue` text COLLATE utf8mb4_unicode_ci NOT NULL,
  `payload` longtext COLLATE utf8mb4_unicode_ci NOT NULL,
  `exception` longtext COLLATE utf8mb4_unicode_ci NOT NULL,
  `failed_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `failed_jobs_uuid_unique` (`uuid`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `failed_jobs`
--

LOCK TABLES `failed_jobs` WRITE;
/*!40000 ALTER TABLE `failed_jobs` DISABLE KEYS */;
/*!40000 ALTER TABLE `failed_jobs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `job_batches`
--

DROP TABLE IF EXISTS `job_batches`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `job_batches` (
  `id` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `name` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `total_jobs` int NOT NULL,
  `pending_jobs` int NOT NULL,
  `failed_jobs` int NOT NULL,
  `failed_job_ids` longtext COLLATE utf8mb4_unicode_ci NOT NULL,
  `options` mediumtext COLLATE utf8mb4_unicode_ci,
  `cancelled_at` int DEFAULT NULL,
  `created_at` int NOT NULL,
  `finished_at` int DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `job_batches`
--

LOCK TABLES `job_batches` WRITE;
/*!40000 ALTER TABLE `job_batches` DISABLE KEYS */;
/*!40000 ALTER TABLE `job_batches` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `jobs`
--

DROP TABLE IF EXISTS `jobs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `jobs` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `queue` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `payload` longtext COLLATE utf8mb4_unicode_ci NOT NULL,
  `attempts` tinyint unsigned NOT NULL,
  `reserved_at` int unsigned DEFAULT NULL,
  `available_at` int unsigned NOT NULL,
  `created_at` int unsigned NOT NULL,
  PRIMARY KEY (`id`),
  KEY `jobs_queue_index` (`queue`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `jobs`
--

LOCK TABLES `jobs` WRITE;
/*!40000 ALTER TABLE `jobs` DISABLE KEYS */;
/*!40000 ALTER TABLE `jobs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `mailbox_items`
--

DROP TABLE IF EXISTS `mailbox_items`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `mailbox_items` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `workorder_id` bigint unsigned NOT NULL,
  `user_id` bigint unsigned NOT NULL,
  `folder` enum('inbox','sent','drafts','trash','spam') COLLATE utf8mb4_unicode_ci DEFAULT 'inbox',
  `is_starred` tinyint(1) DEFAULT '0',
  `is_important` tinyint(1) DEFAULT '0',
  `read_at` timestamp NULL DEFAULT NULL,
  `trashed_at` timestamp NULL DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `mailbox_items_workorder_id_user_id_unique` (`workorder_id`,`user_id`),
  KEY `mailbox_items_user_id_foreign` (`user_id`),
  CONSTRAINT `mailbox_items_user_id_foreign` FOREIGN KEY (`user_id`) REFERENCES `users_firebird_identities` (`id`) ON DELETE CASCADE,
  CONSTRAINT `mailbox_items_workorder_id_foreign` FOREIGN KEY (`workorder_id`) REFERENCES `workorders` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `mailbox_items`
--

LOCK TABLES `mailbox_items` WRITE;
/*!40000 ALTER TABLE `mailbox_items` DISABLE KEYS */;
/*!40000 ALTER TABLE `mailbox_items` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `mails_replies`
--

DROP TABLE IF EXISTS `mails_replies`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `mails_replies` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `workorder_id` bigint unsigned NOT NULL,
  `user_id` bigint unsigned NOT NULL,
  `reply_to_id` bigint unsigned DEFAULT NULL,
  `reply_type` enum('reply','reply_all') COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'reply',
  `body` text COLLATE utf8mb4_unicode_ci,
  `sent_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `mails_replies_user_id_foreign` (`user_id`),
  KEY `mails_replies_reply_to_id_foreign` (`reply_to_id`),
  KEY `mails_replies_workorder_id_sent_at_index` (`workorder_id`,`sent_at`),
  CONSTRAINT `mails_replies_reply_to_id_foreign` FOREIGN KEY (`reply_to_id`) REFERENCES `mails_replies` (`id`) ON DELETE SET NULL,
  CONSTRAINT `mails_replies_user_id_foreign` FOREIGN KEY (`user_id`) REFERENCES `users_firebird_identities` (`id`) ON DELETE CASCADE,
  CONSTRAINT `mails_replies_workorder_id_foreign` FOREIGN KEY (`workorder_id`) REFERENCES `workorders` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `mails_replies`
--

LOCK TABLES `mails_replies` WRITE;
/*!40000 ALTER TABLE `mails_replies` DISABLE KEYS */;
/*!40000 ALTER TABLE `mails_replies` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `migrations`
--

DROP TABLE IF EXISTS `migrations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `migrations` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `migration` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `batch` int NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=45 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `migrations`
--

LOCK TABLES `migrations` WRITE;
/*!40000 ALTER TABLE `migrations` DISABLE KEYS */;
/*!40000 ALTER TABLE `migrations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `model_has_roles`
--

DROP TABLE IF EXISTS `model_has_roles`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `model_has_roles` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `role_id` bigint unsigned NOT NULL,
  `subrol_id` bigint unsigned DEFAULT NULL,
  `firebird_identity_id` bigint unsigned NOT NULL,
  `model_type` varchar(150) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'firebird_identity',
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_role_identity` (`role_id`,`subrol_id`,`firebird_identity_id`),
  KEY `model_has_roles_subrol_id_foreign` (`subrol_id`),
  KEY `model_has_roles_firebird_identity_id_foreign` (`firebird_identity_id`),
  CONSTRAINT `model_has_roles_firebird_identity_id_foreign` FOREIGN KEY (`firebird_identity_id`) REFERENCES `users_firebird_identities` (`id`) ON DELETE CASCADE,
  CONSTRAINT `model_has_roles_role_id_foreign` FOREIGN KEY (`role_id`) REFERENCES `roles` (`id`) ON DELETE CASCADE,
  CONSTRAINT `model_has_roles_subrol_id_foreign` FOREIGN KEY (`subrol_id`) REFERENCES `subroles` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `model_has_roles`
--

LOCK TABLES `model_has_roles` WRITE;
/*!40000 ALTER TABLE `model_has_roles` DISABLE KEYS */;
/*!40000 ALTER TABLE `model_has_roles` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ocultar`
--

DROP TABLE IF EXISTS `ocultar`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `ocultar` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `user_id` bigint unsigned NOT NULL,
  `z200_id` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `oculto` tinyint(1) NOT NULL DEFAULT '1',
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `ocultar_user_id_z200_id_unique` (`user_id`,`z200_id`),
  CONSTRAINT `ocultar_user_id_foreign` FOREIGN KEY (`user_id`) REFERENCES `users_firebird_identities` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ocultar`
--

LOCK TABLES `ocultar` WRITE;
/*!40000 ALTER TABLE `ocultar` DISABLE KEYS */;
/*!40000 ALTER TABLE `ocultar` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `password_reset_tokens`
--

DROP TABLE IF EXISTS `password_reset_tokens`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `password_reset_tokens` (
  `email` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `token` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`email`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `password_reset_tokens`
--

LOCK TABLES `password_reset_tokens` WRITE;
/*!40000 ALTER TABLE `password_reset_tokens` DISABLE KEYS */;
/*!40000 ALTER TABLE `password_reset_tokens` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `password_resets`
--

DROP TABLE IF EXISTS `password_resets`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `password_resets` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `email` varchar(150) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `token` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `usuario_id` bigint unsigned DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `password_resets_usuario_id_foreign` (`usuario_id`),
  KEY `password_resets_token_index` (`token`),
  CONSTRAINT `password_resets_usuario_id_foreign` FOREIGN KEY (`usuario_id`) REFERENCES `users_firebird_identities` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `password_resets`
--

LOCK TABLES `password_resets` WRITE;
/*!40000 ALTER TABLE `password_resets` DISABLE KEYS */;
/*!40000 ALTER TABLE `password_resets` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `priorities`
--

DROP TABLE IF EXISTS `priorities`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `priorities` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `name` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `slug` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `color` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `level` int DEFAULT '0',
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `priorities_slug_unique` (`slug`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `priorities`
--

LOCK TABLES `priorities` WRITE;
/*!40000 ALTER TABLE `priorities` DISABLE KEYS */;
/*!40000 ALTER TABLE `priorities` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `puestos`
--

DROP TABLE IF EXISTS `puestos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `puestos` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `nombre` varchar(150) COLLATE utf8mb4_unicode_ci NOT NULL,
  `descripcion` text COLLATE utf8mb4_unicode_ci,
  `es_gerente` tinyint(1) NOT NULL DEFAULT '0',
  `es_jefe_area` tinyint(1) NOT NULL DEFAULT '0',
  `es_rh` tinyint(1) NOT NULL DEFAULT '0',
  `es_subordinado` tinyint(1) NOT NULL DEFAULT '0',
  `activo` tinyint(1) NOT NULL DEFAULT '1',
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `puestos_nombre_unique` (`nombre`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `puestos`
--

LOCK TABLES `puestos` WRITE;
/*!40000 ALTER TABLE `puestos` DISABLE KEYS */;
/*!40000 ALTER TABLE `puestos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `roles`
--

DROP TABLE IF EXISTS `roles`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `roles` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `nombre` varchar(150) COLLATE utf8mb4_unicode_ci NOT NULL,
  `guard_name` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'web',
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `roles`
--

LOCK TABLES `roles` WRITE;
/*!40000 ALTER TABLE `roles` DISABLE KEYS */;
/*!40000 ALTER TABLE `roles` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `sessions`
--

DROP TABLE IF EXISTS `sessions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `sessions` (
  `id` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `user_id` bigint unsigned DEFAULT NULL,
  `ip_address` varchar(45) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `user_agent` text COLLATE utf8mb4_unicode_ci,
  `payload` longtext COLLATE utf8mb4_unicode_ci NOT NULL,
  `last_activity` int NOT NULL,
  PRIMARY KEY (`id`),
  KEY `sessions_user_id_index` (`user_id`),
  KEY `sessions_last_activity_index` (`last_activity`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sessions`
--

LOCK TABLES `sessions` WRITE;
/*!40000 ALTER TABLE `sessions` DISABLE KEYS */;
/*!40000 ALTER TABLE `sessions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `statuses`
--

DROP TABLE IF EXISTS `statuses`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `statuses` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `nombre` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `descripcion` varchar(200) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `statuses`
--

LOCK TABLES `statuses` WRITE;
/*!40000 ALTER TABLE `statuses` DISABLE KEYS */;
/*!40000 ALTER TABLE `statuses` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `subroles`
--

DROP TABLE IF EXISTS `subroles`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `subroles` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `nombre` varchar(150) COLLATE utf8mb4_unicode_ci NOT NULL,
  `guard_name` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'web',
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `subroles`
--

LOCK TABLES `subroles` WRITE;
/*!40000 ALTER TABLE `subroles` DISABLE KEYS */;
/*!40000 ALTER TABLE `subroles` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `task_participants`
--

DROP TABLE IF EXISTS `task_participants`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `task_participants` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `workorder_id` bigint unsigned NOT NULL,
  `user_id` bigint unsigned NOT NULL,
  `role` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `status_id` bigint unsigned DEFAULT NULL,
  `comentarios` text COLLATE utf8mb4_unicode_ci,
  `fecha_accion` datetime DEFAULT NULL,
  `orden` int DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `task_participants_workorder_id_user_id_role_unique` (`workorder_id`,`user_id`,`role`),
  KEY `task_participants_user_id_foreign` (`user_id`),
  KEY `task_participants_status_id_foreign` (`status_id`),
  CONSTRAINT `task_participants_status_id_foreign` FOREIGN KEY (`status_id`) REFERENCES `statuses` (`id`) ON DELETE SET NULL,
  CONSTRAINT `task_participants_user_id_foreign` FOREIGN KEY (`user_id`) REFERENCES `users_firebird_identities` (`id`) ON DELETE CASCADE,
  CONSTRAINT `task_participants_workorder_id_foreign` FOREIGN KEY (`workorder_id`) REFERENCES `workorders` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `task_participants`
--

LOCK TABLES `task_participants` WRITE;
/*!40000 ALTER TABLE `task_participants` DISABLE KEYS */;
/*!40000 ALTER TABLE `task_participants` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `turno_dias`
--

DROP TABLE IF EXISTS `turno_dias`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `turno_dias` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `turno_id` bigint unsigned NOT NULL,
  `dia_semana` tinyint NOT NULL,
  `es_laborable` tinyint(1) NOT NULL DEFAULT '1',
  `es_descanso` tinyint(1) NOT NULL DEFAULT '0',
  `hora_entrada` time DEFAULT NULL,
  `hora_salida` time DEFAULT NULL,
  `hora_inicio_comida` time DEFAULT NULL,
  `hora_fin_comida` time DEFAULT NULL,
  `entra_dia_anterior` tinyint(1) NOT NULL DEFAULT '0',
  `sale_dia_siguiente` tinyint(1) NOT NULL DEFAULT '0',
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_turno_dia` (`turno_id`,`dia_semana`),
  CONSTRAINT `turno_dias_turno_id_foreign` FOREIGN KEY (`turno_id`) REFERENCES `turnos` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `turno_dias`
--

LOCK TABLES `turno_dias` WRITE;
/*!40000 ALTER TABLE `turno_dias` DISABLE KEYS */;
/*!40000 ALTER TABLE `turno_dias` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `turnos`
--

DROP TABLE IF EXISTS `turnos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `turnos` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `firebird_empresa` char(2) COLLATE utf8mb4_unicode_ci NOT NULL,
  `clave` varchar(10) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `nombre` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `hora_entrada` time DEFAULT NULL,
  `hora_salida` time DEFAULT NULL,
  `entra_dia_anterior` tinyint(1) NOT NULL DEFAULT '0',
  `sale_dia_siguiente` tinyint(1) NOT NULL DEFAULT '0',
  `status_id` bigint unsigned NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_turno_empresa` (`firebird_empresa`,`nombre`),
  KEY `turnos_status_id_foreign` (`status_id`),
  CONSTRAINT `turnos_status_id_foreign` FOREIGN KEY (`status_id`) REFERENCES `statuses` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `turnos`
--

LOCK TABLES `turnos` WRITE;
/*!40000 ALTER TABLE `turnos` DISABLE KEYS */;
/*!40000 ALTER TABLE `turnos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `user_login_sessions`
--

DROP TABLE IF EXISTS `user_login_sessions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `user_login_sessions` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `firebird_user_id` bigint unsigned NOT NULL,
  `firebird_identity_id` bigint unsigned DEFAULT NULL,
  `jti` varchar(64) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `ip_address` varchar(45) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `user_agent` text COLLATE utf8mb4_unicode_ci,
  `device` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `browser` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `platform` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `status` tinyint unsigned NOT NULL DEFAULT '1',
  `login_at` timestamp NULL DEFAULT NULL,
  `last_activity` timestamp NULL DEFAULT NULL,
  `paused_at` timestamp NULL DEFAULT NULL,
  `logout_at` timestamp NULL DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `user_login_sessions_firebird_user_id_status_index` (`firebird_user_id`,`status`),
  KEY `user_login_sessions_firebird_user_id_index` (`firebird_user_id`),
  KEY `user_login_sessions_firebird_identity_id_index` (`firebird_identity_id`),
  KEY `user_login_sessions_jti_index` (`jti`),
  CONSTRAINT `user_login_sessions_firebird_identity_id_foreign` FOREIGN KEY (`firebird_identity_id`) REFERENCES `users_firebird_identities` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `user_login_sessions`
--

LOCK TABLES `user_login_sessions` WRITE;
/*!40000 ALTER TABLE `user_login_sessions` DISABLE KEYS */;
INSERT INTO `user_login_sessions` VALUES (1,989,NULL,'T7raSvb00G9rq5dAfzvcJY8vuA8jZjH5','172.18.0.1','Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/153.0.0.0 Safari/537.36','WebKit','Google Chrome, Not_A Brand, Chromium','Windows 19.0.0',2,'2026-09-22 11:38:23','2026-09-22 11:42:44','2026-09-22 11:43:02',NULL,'2026-09-22 10:51:54','2026-09-22 11:43:02');
/*!40000 ALTER TABLE `user_login_sessions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `user_puestos`
--

DROP TABLE IF EXISTS `user_puestos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `user_puestos` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `user_firebird_identity_id` bigint unsigned NOT NULL,
  `puesto_id` bigint unsigned NOT NULL,
  `area_id` bigint unsigned DEFAULT NULL,
  `jefe_id` bigint unsigned DEFAULT NULL,
  `jefe_aux_id` bigint unsigned DEFAULT NULL,
  `fecha_inicio` date DEFAULT NULL,
  `fecha_fin` date DEFAULT NULL,
  `activo` tinyint(1) NOT NULL DEFAULT '1',
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `user_puestos_user_firebird_identity_id_unique` (`user_firebird_identity_id`),
  KEY `user_puestos_puesto_id_foreign` (`puesto_id`),
  KEY `user_puestos_area_id_foreign` (`area_id`),
  KEY `user_puestos_jefe_id_foreign` (`jefe_id`),
  KEY `user_puestos_jefe_aux_id_foreign` (`jefe_aux_id`),
  CONSTRAINT `user_puestos_area_id_foreign` FOREIGN KEY (`area_id`) REFERENCES `areas` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `user_puestos_jefe_aux_id_foreign` FOREIGN KEY (`jefe_aux_id`) REFERENCES `users_firebird_identities` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `user_puestos_jefe_id_foreign` FOREIGN KEY (`jefe_id`) REFERENCES `users_firebird_identities` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `user_puestos_puesto_id_foreign` FOREIGN KEY (`puesto_id`) REFERENCES `puestos` (`id`) ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT `user_puestos_user_firebird_identity_id_foreign` FOREIGN KEY (`user_firebird_identity_id`) REFERENCES `users_firebird_identities` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `user_puestos`
--

LOCK TABLES `user_puestos` WRITE;
/*!40000 ALTER TABLE `user_puestos` DISABLE KEYS */;
/*!40000 ALTER TABLE `user_puestos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `user_turnos`
--

DROP TABLE IF EXISTS `user_turnos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `user_turnos` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `user_firebird_identity_id` bigint unsigned NOT NULL,
  `turno_id` bigint unsigned NOT NULL,
  `fecha_inicio` date DEFAULT NULL,
  `fecha_fin` date DEFAULT NULL,
  `semana_anio` tinyint DEFAULT NULL,
  `dias_descanso_personalizados` json DEFAULT NULL,
  `status_id` bigint unsigned NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_user_turno_status` (`user_firebird_identity_id`,`status_id`),
  KEY `user_turnos_status_id_foreign` (`status_id`),
  KEY `user_turnos_turno_id_foreign` (`turno_id`),
  CONSTRAINT `user_turnos_status_id_foreign` FOREIGN KEY (`status_id`) REFERENCES `statuses` (`id`) ON DELETE CASCADE,
  CONSTRAINT `user_turnos_turno_id_foreign` FOREIGN KEY (`turno_id`) REFERENCES `turnos` (`id`) ON DELETE RESTRICT,
  CONSTRAINT `user_turnos_user_firebird_identity_id_foreign` FOREIGN KEY (`user_firebird_identity_id`) REFERENCES `users_firebird_identities` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `user_turnos`
--

LOCK TABLES `user_turnos` WRITE;
/*!40000 ALTER TABLE `user_turnos` DISABLE KEYS */;
/*!40000 ALTER TABLE `user_turnos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `users` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `name` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `email` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `email_verified_at` timestamp NULL DEFAULT NULL,
  `password` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `remember_token` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `users_email_unique` (`email`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users_firebird_identities`
--

DROP TABLE IF EXISTS `users_firebird_identities`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `users_firebird_identities` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `firebird_user_clave` bigint unsigned DEFAULT NULL,
  `firebird_tb_clave` bigint unsigned DEFAULT NULL,
  `firebird_tb_tabla` varchar(20) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `firebird_empresa` char(2) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `firebird_clie_clave` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `firebird_clie_tabla` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `firebird_vend_clave` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `firebird_vend_tabla` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `firebird_prov_clave` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `firebird_prov_tabla` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `checador_ajuste_salida_puntual` tinyint(1) NOT NULL DEFAULT '0' COMMENT 'Si es true: al checar salida unos minutos antes de su hora programada, se registra la hora programada en vez de la real (VENTANA_AJUSTE_SALIDA_MINUTOS en ChecadorScanService).',
  `numero_credencial` varchar(30) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `excluir_checador` tinyint(1) NOT NULL DEFAULT '0' COMMENT 'Si es true, esta identidad no debe generar QR ni registrar checador (cuentas de sistema/kiosco).',
  `created_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_user_tb_firebird` (`firebird_empresa`,`firebird_user_clave`,`firebird_tb_tabla`,`firebird_tb_clave`),
  UNIQUE KEY `users_firebird_identities_numero_credencial_unique` (`numero_credencial`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users_firebird_identities`
--

LOCK TABLES `users_firebird_identities` WRITE;
/*!40000 ALTER TABLE `users_firebird_identities` DISABLE KEYS */;
/*!40000 ALTER TABLE `users_firebird_identities` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `workorder_attachments`
--

DROP TABLE IF EXISTS `workorder_attachments`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `workorder_attachments` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `workorder_id` bigint unsigned NOT NULL,
  `reply_id` bigint unsigned DEFAULT NULL,
  `disk` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT 'workorders',
  `category` varchar(30) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `original_name` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `file_name` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `path` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `mime_type` varchar(150) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `size` bigint unsigned DEFAULT NULL,
  `sha1` varchar(40) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `workorder_attachments_workorder_id_foreign` (`workorder_id`),
  KEY `workorder_attachments_reply_id_foreign` (`reply_id`),
  KEY `workorder_attachments_sha1_index` (`sha1`),
  CONSTRAINT `workorder_attachments_reply_id_foreign` FOREIGN KEY (`reply_id`) REFERENCES `mails_replies` (`id`) ON DELETE CASCADE,
  CONSTRAINT `workorder_attachments_workorder_id_foreign` FOREIGN KEY (`workorder_id`) REFERENCES `workorders` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `workorder_attachments`
--

LOCK TABLES `workorder_attachments` WRITE;
/*!40000 ALTER TABLE `workorder_attachments` DISABLE KEYS */;
/*!40000 ALTER TABLE `workorder_attachments` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `workorders`
--

DROP TABLE IF EXISTS `workorders`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `workorders` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `ticket_number` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `de_id` bigint unsigned DEFAULT NULL,
  `para_id` bigint unsigned DEFAULT NULL,
  `status_id` bigint unsigned DEFAULT NULL,
  `priority_id` bigint unsigned DEFAULT NULL,
  `type` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `titulo` varchar(200) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `descripcion` text COLLATE utf8mb4_unicode_ci,
  `fecha_solicitud` datetime DEFAULT CURRENT_TIMESTAMP,
  `fecha_aprobacion` datetime DEFAULT NULL,
  `fecha_cierre` datetime DEFAULT NULL,
  `comentarios_aprobador` text COLLATE utf8mb4_unicode_ci,
  `comentarios_solicitante` text COLLATE utf8mb4_unicode_ci,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `workorders_ticket_number_unique` (`ticket_number`),
  KEY `workorders_de_id_foreign` (`de_id`),
  KEY `workorders_para_id_foreign` (`para_id`),
  KEY `workorders_status_id_foreign` (`status_id`),
  KEY `workorders_type_index` (`type`),
  KEY `workorders_priority_id_foreign` (`priority_id`),
  CONSTRAINT `workorders_de_id_foreign` FOREIGN KEY (`de_id`) REFERENCES `users_firebird_identities` (`id`) ON DELETE CASCADE,
  CONSTRAINT `workorders_para_id_foreign` FOREIGN KEY (`para_id`) REFERENCES `users_firebird_identities` (`id`) ON DELETE SET NULL,
  CONSTRAINT `workorders_priority_id_foreign` FOREIGN KEY (`priority_id`) REFERENCES `priorities` (`id`) ON DELETE SET NULL,
  CONSTRAINT `workorders_status_id_foreign` FOREIGN KEY (`status_id`) REFERENCES `statuses` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `workorders`
--

LOCK TABLES `workorders` WRITE;
/*!40000 ALTER TABLE `workorders` DISABLE KEYS */;
/*!40000 ALTER TABLE `workorders` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-09-22 17:51:54
